#hero--section {
    /* border: 2px solid green; */
    min-height: 100vh;
    text-align: center;
    padding: 4rem;

    display: none;
}


.hideHero--section {
    width: 100%;
    display: none;

}


.unhideHero--section {
    width: 100%;
    animation: slide-down backwards alternate 500ms;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
        display: block;
    }
}

.intro--wrapper>h1 {
    font-size: 45px;
    font-family: "poetsen";
    letter-spacing: 1px;
    /* font-weight: normal; */
}

.intro--wrapper>h2 {
    font-weight: normal;
    font-size: 25px;
    font-family: "poetsen";
    margin-top: 1rem;
}

.intro--wrapper>h2>span {
    font-weight: bold;
    color: hsla(190, 60%, 75%, 1);
}

.intro--paragraph {
    margin-top: 1.5rem;
    line-height: 22px;
    /* text-align: left; */
    word-break: break-all;
    padding: 0 10rem;
}

.action--btns {
    margin-top: 2rem;
}

.action--btns>button {
    border-radius: 5px;
    background-color: hsla(190, 80%, 70%, 0.2);
}

.action--btns>button:first-child {
    margin-right: 1.5rem;
}


/* The below styling is for the main function */
#validator--wrapper {
    position: relative;
    display: flex;
    gap: 0.3rem;
    padding: 6rem 2rem;
    min-height: 100vh;
    /* display: none; */
    /* border: 2px solid lemonchiffon; */
    animation: slide-up forwards alternate 400ms;
}

/* .slide-validatorWrapper {
} */
@keyframes slide-up {
    from {
        transform: translateY(300%);
    }

    to {
        transform: translateY(0%);
        /* display: none; */
    }
}

.texts--wrapper--block,
.validate--result--wrapper--block {
    padding: 2rem 2rem;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    background-color: hsla(0, 0%, 2%, 1);
    border-radius: 5px;
    /* overflow: hidden; */
}

.texts--con {
    border: 2px solid green;
    height: 350px;
}

.texts--con>textarea {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;

}


.keywords--con {
    margin-top: 1rem;
    height: 120px;
}

.keywords--con>textarea {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

/* Validate block styling starts here */


.validator--btn--con {
    margin-top: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
}

.validator--btn--con>button {
    display: block;
    padding: 0.8rem 2rem;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: hsla(190, 80%, 70%, 0.2);
    color: hsla(190, 60%, 75%, 1)
}

.validate--result {
    width: 100%;
    height: 400px;
    overflow: auto;
    word-break: break-all;
    border: 2px solid red;
}

.options--result--con {
    width: 100%;
    height: 150px;
    max-height: max-contents;
    border: 2px solid red;
    margin-top: 1rem;
}

/* Styling for the homepage redirect link */
.goHome--linkContainer {
    position: absolute;
    top: calc(20px);
    right: 40px;
}

.goHome--linkContainer>a {
    color: var(--text--clr);
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: underline;
    color: hsla(190, 60%, 75%, 1);
}

/* highlight styling */
.highlight {
    display: inline-block;
    background-color: hsla(190, 80%, 70%, 0.2);
    line-height: 22px;
    padding: 0 10px;
    border-radius: 5px;
}

/* Working on the text environement scrolll */